ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #333;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .card {
    margin-left: 40px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 500px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 400px;
    width: 400px;
  }
  #more {display: none;}


  #heading{
    text-align: center; 
  }
  table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    padding-right: 0%;
    border-collapse: collapse;
    width: 600px;
  }
  
  th, td {
    padding: 15px;
  }
  .grid-container {
    display: grid;
    /* grid-template-columns: 600px 600px 600px; */
    gap: 5px;
    padding: 10px;
    grid-template-areas: 
    'item1 item1 item1 item1 item1 item1 item1'
    'item2 item2 item3 item3 item3 item4 item4';
  }
  .grid-container > div {
    background-color: transparent;
    text-align: center;
    padding: 20px 0;
    
  }
  .preparation {
    width: 300px;
    margin-left: 60px;
  }
  #item1{
    grid-area: item1;
  }

  #item2{
    grid-area: item2;
    padding: 10px;
    margin: 10px
  }
  #item3{
    grid-area: item3;
    padding: 10px;
    margin: 10px
  }
  #item3{
    grid-area: item4;
    padding: 10px;
    margin: 10px
  }
  @media only screen and (max-width: 600px) {
    /*inside this i can add my css rules*/
    .grid-container {
        display: grid;
        grid-template-areas:
    'item1 item1 item1 item1 item1 item1 item1'
    'item2 item2 item2 item2 item2 item2 item2'
    'item3 item3 item3 item3 item3 item3 item3'
    'item4 item4 item4 item4 item4 item4 item4';
    }
    }